*,
html {
    margin: 0;
    padding: 0;
}

body {
    background: rgb(214, 214, 214);

}

.container {
    height: 100vh;
}

.navbar {
    background-color: #ec4d4d;
    width: 100%;
    height: 100;
}

.ul-navbar {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 10px;
    margin: 5px;
    color: white;
    font-size: 30px
}

.li-navbar :hover {
    background-color: rgb(145, 145, 145);
    transition: .5s ease-in-out;
    transition-delay: 0, 5s;
    border-radius: 10px;
}

.a-navbar {
    color: white;
    text-decoration: none;
    font-weight: 800;
}

.conten {
    background-color: rgb(99, 96, 96);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

.a-conten {
    background-color: white;
    width: 900px;
    height: 480px;
    color: black;
    text-decoration: none;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 65px;
    box-shadow: 12px 8px 8px 0px rgba(0, 0, 0, 0.77);
    -webkit-box-shadow: 12px 8px 8px 0px rgba(0, 0, 0, 0.77);
    -moz-box-shadow: 12px 8px 8px 0px rgba(0, 0, 0, 0.77);
}

/* .a-conten :hover {
    background-color: rgb(48, 45, 45);
    transition: .5s ease-in-out;
    transition-delay: 0, 5s;
    border-radius: 10px;
} */

.png-capcut {
    width: 60%;
    height: 60%;

}

.footer {
    background-color: #ec4d4d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1-footer {
    font-size: 30px;
    font-family: 'Tahoma';
    color: white;

}